/******** CSS FOR PASSWORD FORM COMPONENT *********/

.passwordform-container
{
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(144, 144, 144);
  padding: 1rem;
  min-height: 96.8vh;
}

.passwordform-container > h1
{
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.passwordform-container .input-container
{
    margin-bottom: 4rem;
}